<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" href="Image.css">
</head>
<body>
    <div class="example-div">
        <img src="./Iron-man-sq.jpg" alt="image" class="sq-img">
    </div>
    <div class="example-div">
        <img src="./Iron-Man-round.jpg" alt="image" class="round-img">
    </div>
    <div class="example-div">
        <img src="./iron-man-full.png" alt="responsive-image" class="rsp-img">
    </div> 
</body>
</html>