<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="Card.css">
</head>
<body>
    <div class="outer-div">
        <!-- Text Only Card -->
        <div class="basic-card-class">
            <div class="basic-card">
              <div class="upperSection">
                 <div class="upperContent">
                   <h2>Text only Card</h2>
                   <h3>Contains only text</h3>
                 </div>
                 <div class="details">
                   <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                   </p>
                 </div>
              </div>
      
              <div class="lower">
                <div>
                  <button>
                    <small>READ</small>
                  </button>
                  <button>
                    <small>BOOKMARK</small>
                  </button>
                </div>
                <div>
                  <img src="./images/like.png" alt="" />
                  <img src="./images/share.png" alt="" />
                  <img src="./images/options.png" alt="" />
                </div>
              </div>
            </div>
        </div>

        <!-- Basic card -->
        <div class="basic-card-class">
            <div class="basic-card">
              <div class="upperSection">
                <img src="./images/card-image.jpg" alt="" />
      
                <div class="upperContent">
                    <h2>Basic Card</h2>
                    <h3>Contains text and image</h3>
                </div>
                <div class="details">
                  <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                  </p>
                </div>
              </div>
      
              <div class="lower">
                <div>
                  <button>
                    <small>READ</small>
                  </button>
                  <button>
                    <small>BOOKMARK</small>
                  </button>
                </div>
                <div>
                  <img src="./images/like.png" alt="" />
                  <img src="./images/share.png" alt="" />
                  <img src="./images/options.png" alt="" />
                </div>
              </div>
            </div>
        </div>

        <!-- Card with badges -->
        <div class="basic-card-class">
            <div class="basic-card badge-card">
              <div class="badge">15</div>
              <div class="upperSection">
                <img src="./images/card-image.jpg" alt="" />
      
                <div class="upperContent">
                    <h2>Card with Badge</h2>
                    <h3>Contains text, image, badge</h3>
                </div>
                <div class="details">
                  <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                  </p>
                </div>
              </div>
      
              <div class="lower">
                <div>
                  <button>
                    <small>READ</small>
                  </button>
                  <button>
                    <small>BOOKMARK</small>
                  </button>
                </div>
                <div>
                    <img src="./images/like.png" alt="" />
                    <img src="./images/share.png" alt="" />
                    <img src="./images/options.png" alt="" />
                </div>
              </div>
            </div>
        </div>

        <!-- Card with dismiss icon -->

        <div class="basic-card-class">
          <div class="basic-card dismiss-card">
            <div class="crx">
              <img src="./images/close.png" alt="" />
            </div>
            <div class="upperSection">
              <img src="./images/card-image.jpg" alt="" />
    
              <div class="upperContent">
                <h2>Card with Dismiss button</h2>
                <h3>Contains text, image, dismiss</h3>
              </div>
              <div class="details">
                <p>
                  In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                </p>
              </div>
            </div>
    
            <div class="lower">
              <div>
                <button>
                  <small>READ</small>
                </button>
                <button>
                  <small>BOOKMARK</small>
                </button>
              </div>
              <div>
                  <img src="./images/like.png" alt="" />
                  <img src="./images/share.png" alt="" />
                  <img src="./images/options.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <!-- Card with text overlay -->
        <div class="basic-card-class">
          <div class="basic-card text-overlay">
            <div class="upperSection">
              <img src="./images/card-image.jpg" alt="" />
    
              <div class="upperContent">
                <h2>Card with Text overlay</h2>
                <h3>Contains text overlay, image</h3>
              </div>
              <div class="details">
                <p>
                  In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                </p>
              </div>
            </div>
    
            <div class="lower">
              <div>
                <button>
                  <small>READ</small>
                </button>
                <button>
                  <small>BOOKMARK</small>
                </button>
              </div>
              <div>
                <img src="./images/like.png" alt="" />
                <img src="./images/share.png" alt="" />
                <img src="./images/options.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <!-- Horizontal card -->
        <div class="basic-card-class">
          <div class="horizontal-card">
            <div class="upperSection">
              <img src="./images/card-image.jpg" alt="" />
    
              <div class="upperContent">
                <h2>Horizontal Card</h2>
                <h3>Contains text and image</h3>
                <p>
                  In publishing and graphic design, Lorem ipsum is a placeholder text.
                </p>
              </div>
              
                
              
            </div>
            <div class="lower">
              <div>
                <button>
                  <small>READ</small>
                </button>
                <button>
                  <small>BOOKMARK</small>
                </button>
              </div>
              <div>
                <img src="./images/like.png" alt="" />
                <img src="./images/share.png" alt="" />
                <img src="./images/options.png" alt="" />
              </div>
            </div>
          </div>
        </div>


    </div>

    

    

</body>
</html>