@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(./Alert/Alert.css);
@import url(./Avatar/Avatar.css);
@import url(./Badge/Badge.css);
@import url(./Button/button.css);
@import url(./Card/Card.css);
@import url(./Image/Image.css);
@import url(./Input/Input.css);
@import url(../variables.css);
@import url(./Navigation/navigation.css);
@import url(./Snackbar/snackbar.css);
@import url(./Rating/rating.css);



body {
    font-family: "roboto";
    background: var(--off-white);
  }

a {
    text-decoration: none;
    color: inherit;
}

/* navigation bar */

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 2px 1px rgb(211, 211, 211);
    padding: 1.5rem 2rem;
    font-weight: bold;
  }

.navbar li {
    list-style: none;
}

.logo {
    margin-left: 2.5rem;
}

.navbar > ul {
    display: flex;
    gap: 1rem;
    margin-right: 2.5rem;
}

/* Landing Page */

.hero-wrapper {
    display: flex;
    height: 80vh;
}

.hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    gap: 1.5rem;
}

.hero p {
    line-height: 1.5rem;
    text-align: center;
}
  
.hero h1 {
    font-size: 2.8rem;
}