<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="navigation.css">
    <script src="https://kit.fontawesome.com/1557e32289.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="outer-div">
        <div class="header-class">
            <header class="navigation">
              <div>
                <i class="fa-solid fa-bars"></i>
                <h3>Wave-Ui</h3>
              </div>
              <nav>
                <ul>
                  <li><i class="fa-solid fa-magnifying-glass"></i></li>
                  <li><i class="fa-solid fa-heart"></i></li>
                  <li><i class="fa-solid fa-cart-shopping"></i></li>
                  <li><i class="login"></i>Login</li>
                </ul>
              </nav>
            </header>
        </div>
    </div>

</body>
</html>