<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating</title>
    <link rel="stylesheet" href="rating.css">
    <script src="https://kit.fontawesome.com/1557e32289.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="main-content">
        
        <!-- Simple Rating -->
        <div class="content-head">
          <h2>Simple Rating</h2>
        </div>
        <div class="content">
          <p>
            Simple rating can be implemented by adding class name 'rating-container' for star shaped icons.
          </p>
        </div>  

        <div class="example">
           <div class="rating-container">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
           </div>
        </div>

        
        <div class="divider"></div>


        <!-- Rating component Sizes -->
        <div class="content-head">
          <h2>Sizes for Rating component</h2>
        </div>
        <div class="content">
          <p>
            Use md and lg classes for medium and large sizes respectively for the rating component.
          </p>
        </div>

        <div class="example">
            <div class="rating-container">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
   
            <div class="rating-container md">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>

            <div class="rating-container lg">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>

        </div>

        <div class="divider"></div>


        <!-- Rating with filled icons -->
        <div class="content-head">
          <h2>Rating filled</h2>
        </div>
        <div class="content">
          <p>
            Fill the rating stars by just replacing far to fas
          </p>
        </div>  

        <div class="example">
           <div class="rating-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
           </div>
        </div>
           
    </main>
   
</body>
</html>