<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge</title>
    <link rel="stylesheet" href="Badge.css" />
  </head>
  <body>
    
    <div class="badge-container">
      <img
        src="../Avatar/Profile Img.jpg"
        alt="profile-pic"
        class="avatar lg"
      />
      <div class="badge online"></div>
    </div>

    <div class="badge-container">
      <img
        src="../Avatar/Profile Img.jpg"
        alt="profile-pic"
        class="avatar lg"
      />
      <div class="badge dnd"></div>
    </div>

    <div class="badge-container">
      <img
        src="../Avatar/Profile Img.jpg"
        alt="profile-pic"
        class="avatar lg"
      />
      <div class="badge offline"></div>
    </div>
  </body>
</html>
